<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="personDao" class="com.sshapp.dao.PersonDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="personService" class="com.sshapp.service.PersonService">
		<property name="personDao" ref="personDao"></property>
	</bean>

	<bean id="personAction" class="com.sshapp.actions.PersonAction"
		scope="prototype">
		<property name="personService" ref="personService"></property>
	</bean>
	<bean id="personAction1" class="com.sshapp.actions.PersonAction1"
		scope="prototype">
		<property name="personService" ref="personService"></property>
	</bean>
</beans>
